$lightBoxShadow: 1px 1px 4px rgba(14, 87, 214, 0.26);
$middleBoxShadow: 1px 1px 6px rgba(14, 87, 214, 0.26);
$darkBoxShadow: 3px 3px 10px rgba(14, 87, 214, 0.26);

$white: #ffffff;
$blue: #0e57d6;
$grey: #f2f2f2;
